<h2>Adopter Page</h2>
<% if @animals.length > 0 %>
  <h3>Here are a list of animals that are available to adopt!</h3>
<% else %>
<h3>There are currently no animals up for adoption!</h3>
<% end %>

<% @animals.each do |animal| %>
  <p>Name: <%= animal.animal_name %></p>
  <p>Gender: <%= animal.animal_gender %></p>
  <p>Type and Breed: <%= animal.animal_type %>, <%= animal.animal_breed %></p><br>
<% end %>

<h5><a href="/"> return home</a></h5>
