<h1>Customer List</h1>

  <% @customers.each do |customer| %>
  <div class="well">
    <p>Name: <%= customer.customer_name %></p>
    <p>Phone Number: <%= customer.customer_phone %></p>
    <p>Preference: <%= customer.type_preference %>, <%= customer.breed_preference %></p>
  </div>
  <% end %>

<h5 class="return"><a href="/shelter"> Return to Shelter Page</a></h5>
<h5 class="move"><a href="/add_customer"> Add New Customer</a></h5>
