<h4>Please enter the name that you registered with a Shelter Worker:</h4>

<form action="/authenticate" method="post" autocomplete="off">
  <label for="customer_name">Please enter your name:</label>
  <input type="text" name="customer_name">
  <button type="submit">Show available pets</button>
</form>
