<h1>customer list</h1>

  <% @customers.each do |customer| %>
    <p>Name: <%= customer.customer_name %></p>
    <p>Phone Number: <%= customer.customer_phone %></p>
    <p>Preference: <%= customer.type_preference %>, <%= customer.breed_preference %></p><br>
  <% end %>

<h5><a href="/shelter"> Return to Shelter Page</a></h5>
<h5><a href="/add_customer"> Add New Customer</a></h5>
