<h4>Please enter your name!</h4>

<form action="/authenticate" method="post">
  <label for="customer_name">Please enter your name:</label>
  <input type="text" name="customer_name">
  <button type="submit">Show available pets</button>
</form>
