<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/master.css">
    <title>Happier Trails Animal Shelter</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Happier Trails Animal Shelter</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
