<div class="centered">
  <h2>Shelter Page</h2>
  <h3><a href="/add_animal">Add Animal</a></h3>
  <h3><a href="/add_customer">Add Customer</a></h3>
  <h3><a href="/animal_list">View all Animals</a></h3>
  <h3><a href="/customer_list">View all Customers</a></h3>
  <h3><a href="/make_owner">Add Owner to Pet</a></h3>
  <h3><a href="/adopted_animals">Adopted Animals</a></h3>
  <h5><a href="/"> return home</a></h5>
</div>
