body {
  background-color: #dddddd;
  background-image: linear-gradient(#ffffff, #ffffdd);
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  background-color: #f5f5f5;
  background-image: url("/img/paw_prints.png");
  background-size: auto 100%;
  background-position: center;
  box-shadow: 3px 3px darkgrey;
}

.jumbotron h1 {
  color: #7DD8E6;
  text-align: center;
  text-shadow: 2px 2px darkgreen;
}

.centered {
  text-align: center;
}

h5 {
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

a {
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid darkgrey;
  background-color: white;
  border-radius: 10px;
}
